RewriteCond %{HTTP_HOST} =www.commeetuporganisers.com
RewriteRule (.*) https://meetupofmeetup.commeetuporganisers.com/$1 [R=302,L]

RewriteCond %{HTTP_HOST} =commeetuporganisers.com
RewriteRule (.*) https://meetupofmeetup.commeetuporganisers.com/$1 [R=302,L]

RewriteCond %{HTTP_HOST} =www.meetupofmeetup.commeetuporganisers.com
RewriteRule (.*) https://meetupofmeetup.commeetuporganisers.com/$1 [R=302,L]
